.circle {
    height: 10rem;
    width: 10rem;
    background-color: none;
    border: solid;
    display: flex;
    align-items: center;
    margin: 2rem;
    border-radius: 50%;
    justify-content: center;  
}

button {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    font-family: 'Kalam', cursive;
    font-size: larger;
    margin: 5rem 1rem;
    cursor: pointer;
    background-color: green;
    color: blue;
    width: 10rem;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.circle-Container{
    display: flex;
}

.circle.active {
    background-image: url("./assets/images/frog.jpg");
    background-size: cover;
    background-position: center;
}







