@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

body {
  margin: 0;
  background-image: url("./assets/images/pond.avif")  ;
  background-size: cover;
  font-family: 'Kalam', cursive;
  color: blue;
  display: flex;
  font-size: larger;
  justify-content: center;
  max-width: 1200px; 
  -webkit-font-smoothing: antialiased;
  -moz-oxs-font-smoothing:grayscale;
}

p {
  font-size:x-large;
  font-weight: bold;
}





